body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

.leaf.Node1 circle{
	fill: #ff7f0e;
}

.leaf.Node2 circle{
	fill: green;
}

.leaf.Node3 circle{
	fill: yellow;
}

.leaf.Node4 circle{
	fill: brown;
}

.leaf.Node5 circle{
	fill: magenta;
}

text {
  font: 10px sans-serif;
}

.right {
	position: absolute;
	right: 0px;
	top: 50px;
	bottom: 0px;
	width: 300px;
}